/* line 6, /Users/user/work/depot/app/assets/stylesheets/products.scss */
.products table {
  border-collapse: collapse;
}
/* line 10, /Users/user/work/depot/app/assets/stylesheets/products.scss */
.products table tr td {
  padding: 5px;
  verticial-aling: top;
}
/* line 15, /Users/user/work/depot/app/assets/stylesheets/products.scss */
.products .list_image {
  width: 60px;
  height: 70px;
}
/* line 20, /Users/user/work/depot/app/assets/stylesheets/products.scss */
.products .list_description {
  width: 60%;
}
/* line 23, /Users/user/work/depot/app/assets/stylesheets/products.scss */
.products .list_description dl {
  marge: 0;
}
/* line 27, /Users/user/work/depot/app/assets/stylesheets/products.scss */
.products .list_description dt {
  color: #224;
  font-weight: bold;
  font-size: larger;
}
/* line 33, /Users/user/work/depot/app/assets/stylesheets/products.scss */
.products .list_description dd {
  marge: 0;
}
/* line 38, /Users/user/work/depot/app/assets/stylesheets/products.scss */
.products .list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
}
/* line 44, /Users/user/work/depot/app/assets/stylesheets/products.scss */
.products .list_line_even {
  background: #e0f8f8;
}
/* line 48, /Users/user/work/depot/app/assets/stylesheets/products.scss */
.products .list_line_odd {
  background: #f8b0f8;
}
/* line 1, /Users/user/work/depot/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/user/work/depot/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/user/work/depot/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /Users/user/work/depot/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, /Users/user/work/depot/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, /Users/user/work/depot/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /Users/user/work/depot/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /Users/user/work/depot/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, /Users/user/work/depot/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, /Users/user/work/depot/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, /Users/user/work/depot/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, /Users/user/work/depot/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


.products {
	table {
		border-collapse: collapse;
	}

	table tr td {
		padding: 5px;
		verticial-aling: top;
	}

	.list_image {
		width: 60px;
		height: 70px;
	}

	.list_description {
		width: 60%;

		dl {
			marge: 0;
		}

		dt {
			color: #224;
			font-weight: bold;
			font-size: larger;
		}

		dd {
			marge: 0;
		}
	}

	.list_actions {
		font-size: x-small;
		text-align: right;
		padding-left: 1em;
	}
	
	.list_line_even {
		background: #e0f8f8;
	}

	.list_line_odd {
		background: #f8b0f8;
	}

}
